<div class='squads'>
  <a href='#/.Ada'>Ada</a>
  <a href='#/.Bash'>Bash</a>
  <a href='#/.C'>C</a>
  <a href='#/.Dart'>Dart</a>
  <a href='#/.Elixir'>Elixir</a>
  <a href='#/.Fortran'>Fortran</a>
</div>
<div class='student-list js-student-list'>
  <% @students.each do |student| %>
    <p style="background: <%= student.color%>"class="<%= student.squad %> <%= student.category %>">
      <a href="/<%= student.github_id %>"><%= student.name %>
        <% if student.updated_at %>
  	      <small><%= time_ago_in_words(student.updated_at) %> ago</small>
        <% end %>
      </a>
      <% gh_img = student.color ? "GitHub-Mark-Light-32px" : "GitHub-Mark-32px" %>
      <%= link_to(image_tag(gh_img, alt: "GH Repos", title: "GH Repos"), student.github_repo_url) %>
    </p>
  <% end %>
</div>
