<h2 style="border-bottom: 5px solid <%= @student.color %> "><%= @student.name %></h2>
<%= @attendance[:tardies] %> tardies.
<%= @attendance[:absences] %> absences.
<%= @attendance[:presences] %> presences.
<br>
<%= @assignments[:missing_homeworks] %> missing homeworks.
<%= link_to "Projects", "/"+ @student.github_id.to_s + "/projects" %>
<br><br>
<%= render 'form' %>

<% @statuses.each do |status| %>
  <div class='status' id="s<%=status.id%>">
    <% if status.user %>
      <time><%= time_ago_in_words(status.created_at) %> ago by <%= status.user.name %></time>
    <% end %>
    <% if status.user == current_user %>
      <small>
	<%= link_to 'edit', edit_status_path(status) %> |
	<%= link_to 'delete', status_path(status), method: :delete %>
      </small>
    <% end %>
    <p><%= markdown(status.body) %> </p>
    <div class='color <%= status.color%>'></div>
  </div>
<% end %>
