<h2><%= @student["name"] %></h2>
<%= render 'form' %>

<% @statuses.each do |status| %>
  <div class='status'>
    <time><%= time_ago_in_words(status.created_at) %> ago</time>
    <small>
      <%= link_to 'edit', edit_status_path(status) %> |
      <%= link_to 'delete', status_path(status), method: :delete %>
    </small>
    <p><%= markdown(status.body) %> </p>
    <div class='color <%= status.color%>'></div>
  </div>
<% end %>
