<% @notifications.each do |notification| %>
  <div class="notification" data-read=<%= notification.read %>>
    <div class='meta'>
      <small><%= time_ago_in_words(notification.created_at) %> ago.</small>
      <%= form_for notification do |f| %>
	<label title="Mark as read"> &#10004;
	<%= f.check_box :read %>
	</label>
      <% end %>
    </div>
    <%= notification.body.html_safe %>
  </div>
<% end %>
