<!DOCTYPE html>
<html>
<head>
  <title>StudentTracker</title>
  <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body>
  <header>
  <small>Logged in as <%= session[:user]['login'] %>
  | <%= link_to "Recent Updates", "/recent" %>
  | <%= link_to "Stats", "/stats" %>
  </small>
  <h1>
    <%= link_to "~/", root_path %>
    <% if @students %>
      <input type="text" class="js-filter">
    <% end %>
  </h1>
  </header>
  <%= yield %>
</body>
</html>
