<!DOCTYPE html>
<html>
<head>
  <title>StudentTracker</title>
  <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <header>
  <small>Logged in as <%= current_user.name %>
  | <%= link_to "Recent", "/recent" %>
  | <a href='<%= notifications_path %>' class='notification-link'>
      Notifications
	<span data-notifications-count="<%= @notifications_count %>" class='notification-count'><%= @notifications_count %></span>
    </a>
  | <%= link_to "Stats", "/stats" %>
  </small>
  <h1>
    <%= link_to "~/", root_path %>
    <% if @students %>
      <input type="text" class="js-filter">
    <% end %>
  </h1>
  </header>
  <%= yield %>
  <script src='https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.3/underscore-min.js'></script>
  <%= javascript_include_tag 'application' %>
</body>
</html>
